<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Angular filters</title>
    <link rel="stylesheet" href="vendor/foundation.min.css">
    <style type="text/css">
        body {
            margin: 16px;
        }
        .red {
            color: #982134;
        }
    </style>
</head>
<body>

<h1>Example</h1>

<div ng-app="myApp">
    <div ng-controller="AppCtrl">



    </div>
</div>

<script src="vendor/angular.min.js"></script>
<script src="directive.js"></script>
</body>
</html>
